<div class="new_user_div">
  <div class="header">
    <h1>Welcome to Contactually Lite</h1>
    <h2>Please upload a file</h2>
  </div>
  <%= form_for @user do |f| %>
    <%= f.label "What is your name?" %><br>
    <%= f.text_field :name, required: true %><br>
    <%= f.file_field :contact_file, required: true %><br>
    <%= f.submit "See your contacts", class: "btn btn-info" %>
  <% end %>
</div>
