<h1><%= @user.name %>, here are your contacts:</h1>
<button class="com">Show .com Email addresses</button>
<button class="all">Show All</button>
<button class="extensions">Show Numbers with Extensions</button>
<button class="international">Show international Numbers</button>
<button class="sortEmail">Sort By Email</button>
<% @user.contacts.each do |contact|  %>
  <div id = <%= "#{contact.id}" %>>
    <p class = "firstName"><%= contact.first_name %></p>
    <p class = "lastName"><%= contact.last_name %></p>
    <p class = "email"><%= contact.email %></p>
    <p class = "phone"><%= contact.phone %></p>
    <p class = "company"><%= contact.company %></p>
    <%= link_to "Remove", contact, remote: true, method: :delete %>
  </div>
<% end %>
